.form{
  border: 5px solid #887979;
  background-color: #f1eaea;
  margin-top: 30px;
  margin-right: 50px;
  margin-left:500px;
  margin-bottom: 50px;
  padding: 50px 50px 50px 50px;
  width: 300px;
}

h3 {
  margin-top: 0;
  text-align: center;
  font-size: 25px;
  color: purple;
}

label {
  font-size: 24px;
  color:rgb(192, 48, 192);
  display: inline-block;
  width: 120px;
  text-align: right;
}

input {
  margin-left: 10px;
  font-size: 22px;
  width: 150px;
  text-align: center;
}

.second {
  margin-top: 15px;
}

